/********** Template CSS **********/
:root {
    --primary: #00B074;
    --secondary: #2B9BFF;
    --light: #EFFDF5;
    --dark: #2B3940;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
.vidset{
    width: 1000px;
    height: 650px;
}

/*** Button ***/
.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    position:static;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;

}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;

    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.header-carousel .container,
.page-header .container {
    position: relative;
    padding: 45px 0 45px 35px;
    border-left: 15px solid var(--primary);
}

.header-carousel .container::before,
.header-carousel .container::after,
.page-header .container::before,
.page-header .container::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100px;
    height: 15px;
    background: var(--primary);
}

.header-carousel .container::after,
.page-header .container::after {
    top: 100%;
    margin-top: -15px;
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(43, 57, 64, .5), rgba(43, 57, 64, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** About ***/
.about-bg {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 5px 5px;
}


/*** Category ***/
.cat-item {
    display: block;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    border: 1px solid transparent;
    transition: .5s;
}

.cat-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}


/*** Job Listing ***/
.nav-pills .nav-item .active {
    border-bottom: 2px solid var(--primary);
}

.job-item {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.job-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 2px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
.box_log ,.box_sin {
  width: 90%;
  max-width: 1300px;
  min-height: 600px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border-radius: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box_log form {
  flex: 1 1 300px; 
  max-width: 500px;
  width: 100%;
}

.box_log img , .box_sin img{
  flex: 1 1 300px;
  max-width: 550px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-left: 50px;
}

    
    .email_log,.pass_log ,.email_sign,.pass_sign{
        height: 55px;
        font-size: large;
        width: 90%;
        max-width: 420px;
        padding: 10px;
        margin: 10px;
        
        border-radius: 10px;
    }  
    .email_log:focus, .pass_log:focus,
.email_sign:focus, .pass_sign:focus {
    border-color: rgba(20, 108, 67, 0.902);
    box-sizing: 50px;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5); /* ظل ناعم أخضر */
    outline: none; /* يشيل الخط الأزرق التقليدي */
}
  
    .btn_log{
        width: 150px;
        height: 50px;
        border-radius: 25px;
        background-color: rgba(20, 108, 67, 0.902);
        font-size: 23px;
        
    }
   
    .btn_log1{
      font-size: 23px;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        background-color: rgba(20, 108, 67, 0.902);
        margin-top: 10px;
        margin-bottom: 10px ;
    }
.body_log ,.body_sign{
      background-color: rgba(20, 108, 67, 0.902);

    
}
.btn_log:hover{
  background-color:black;  
}
.btn_log1:hover{
  background-color:black;
  
}
.h_log{
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
 color: black;
 font-size: 26px;
}
.h1_log , .h1_sign{
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 70px;
}

.a_log {
    color:black;
    text-decoration: none; 
    font-weight: bold;
    transition: color 0.3s ease-in-out; 
}

.a_log:hover {
    color: rgba(20, 108, 67, 0.902) ;
    text-decoration: underline; 
}

/*///////////////////////////////////////////////////////////*/
/*about us*/
.custom-header-bg{
    background-image: url("../img/about_us.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;}

.profile-containerform {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.form-containerform {
  flex: 1;
  padding-right: 20px;
}


.body_profile {
  
    background-color: rgba(20, 108, 67, 0.902);
  }
  
  .profile {
    width: 90%;
    max-width: 1800px;
    background-color:white;
    margin: 50px auto;
    margin-top: 10px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  } 

  .for_pro {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .filed_text {
    padding: 10px;
    margin-bottom: 10px;
    max-width: 700px;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border 0.3s;
  }
  
  
    
  .filed_text {
    padding: 10px;
    margin-bottom: 10px;
    max-width: 700px;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border 0.3s;
  }
  .filed_text:focus {
    border-color:  rgba(20, 108, 67, 0.902);
    outline: none;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  .b_gpro {
    margin-top: 20px;
  }
 
 button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background: rgba(20, 108, 67, 0.902);
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
 
  .send_pro {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background: rgba(20, 108, 67, 0.902);
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    max-width: 700px;
    width: 90%;
    transition: background 0.3s;
  }
   

         
.profile-containerform {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.form-containerform {
  flex: 1 1 400px;
  max-width: 680px;
  margin-left: auto;
}

.img_profileform {
  flex: 1 1 300px;
  width: 100%;
  max-width: 680px;
  height: auto;
  max-height: 1000px;
  border: 4px rgba(20, 108, 67, 0.902) solid;
  border-radius: 2%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}


/* .img_profileform {
  max-width: 680px;
  width: 100%;
  max-height: 1000px;
  height: 100%;
  border: 4px rgba(20, 108, 67, 0.902) solid;
  border-radius: 2%;
} */

  button:hover {
    background: rgb(13, 13, 13);
  }

  /* */
  
  .data_profile {
    background-color: #f0f4f8;
    padding: 40px 20px;
    font-family: 'Heebo', sans-serif;
  }

  .profile-container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }
  .profile-container h2{
    text-align: center;
    color: #00B074;
  }
  .profile-container img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit:fill;
    background-color: #f0f0f0; 
    border: 4px solid var(--primary);
    margin-bottom: 40px;
    transition: transform 0.3s ease;
  }

  .profile-container img:hover {
    transform: scale(1.05);
  }

  .profile-info p {
    font-size: 22px;
    margin: 10px 0;
    color: #333;
  }

  .profile-info span {
    font-weight: 600;
    color: #042738;
  }

  .profile-info a {
    color: var(--primary);
    text-decoration: none;
  }

  .profile-info a:hover {
    text-decoration: underline;
  }

  .projects-container {
    background-color: rgb(223, 235, 226);
    padding: 1px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Heebo', sans-serif;
  }
  .projects-container p{
font-size: 25px;
color: var(--primary);

  }

  
.project-card {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s ease;
  }
  
  .project-card:hover {
    box-shadow: 0 4px 15px rgb(0, 0, 0, 0.1);
  }
  
 
  .project-description {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
  }
  
  
  .project-file {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--primary, #00B074);
    text-decoration: none;
  }
  
  .project-file:hover {
    text-decoration: underline;
  }
  
  /* ✅ أزرار التعديل والحذف */
  .project-card .btn {
    margin-right: 10px;
  }
  
  /* ✅ حقل تعديل المشروع */
  .edit-textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: vertical;
  }
  
  
  
  /******************************************************************************************************************/
   /* الكاردات */
   .card-body {
    padding: 0;

    text-align: left;
  }

  .card-body .card-title {
    margin: 0;
    padding: 10px; /* مسافة داخلية فوق وتحت */
    font-size: 20px;
    font-weight: bold;
    color: #198754;
  }

  .card-body .card-text {
    margin: 0;
    padding: 0 10px 10px 10px; /* بادينغ يمين ويسار 10 لتخفيف ملاصقة الحرف للبوردر */
    width: 100%;
    font-size: 16px;
    white-space: normal;
    word-break: break-word;
  }

  .card-footer {
    font-size: 14px;
    padding: 8px 10px;
    text-align: right;
    background: #f9f9f9;
    border-top: 1px solid #ddd;
  }

  .scroll-item {
    min-width: 300px;
    max-width: 300px;
    flex: 0 0 auto;
    margin-right: 1rem;
  }

  .card-img-top {
    height: 200px;
    object-fit:fill;
    width: 100%;
    border-bottom: 1px solid #198754;
  }

  /* سكروول الكروت */
  .scroll-wrapper {
    position: relative;
    overflow: hidden;
  }
  .scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 1rem 0;

    /* ✅ لإخفاء الشريط تحت السكروول */
    scrollbar-width: none; /* للفايرفوكس */
    -ms-overflow-style: none; /* للانترنت اكسبلورر */
  }

  /* ✅ إخفاء الشريط تحت السكروول للكروم والسفاري */
  .scroll-container::-webkit-scrollbar {
    display: none;
  }

  .scroll-buttons {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #198754;
    color: white;
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s;
  }
@media (max-width: 768px) {
  .scroll-item {
    max-width: 95% !important;
    margin-right: auto;
    margin-left: auto;
  }
}

  .scroll-wrapper:hover .scroll-buttons {
    opacity: 1;
    visibility: visible;
  }

  #scrollPostsLeft {
    left: 10px;
  }
  #scrollPostsRight {
    right: 10px;
  }
  /*/////////////////////////////////*/
  .alert-container-custom {
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .alert-container-custom .alert {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-size: 0.95rem;
    padding: 0.75rem 1rem;
    max-width: 320px;
    animation: slideIn 0.4s ease-out;
  }

  @keyframes slideIn {
    from {
      transform: translateX(-30px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
/********************************************
.profile-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.profile-card img {
  transition: transform 0.1s;
}

.profile-card:hover img {
  transform: scale(1.05);
}
.textmi{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.textm{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
///////*/
.showmessage{text-align: center; 
  position: fixed; top: 2%;left:35%; 
   z-index:1000;  
   display:none; 
   padding:10px;
   margin-top:1%; 
   border-radius:5px; 
   width: 25%;
   font-family: Arial, sans-serif; 
   font-size: 14px;}

    /* تابلت */
@media (max-width: 992px) {
    .project-card {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* موبايل */
@media (max-width: 576px) {
    .project-card {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.scroll-wrapper {
    overflow: hidden;
    position: relative;
}

.scroll-container {
    overflow-x: auto;
    scroll-behavior: smooth;
}

.scroll-item {
    flex: 0 0 auto;
}
