<div class="container-fluid px-0 position-relative">

    <video class="w-100" style="height: 320px; object-fit: cover;" autoplay loop muted playsinline>
        <source src="~/homeAssets/img/contact.mp4" type="video/mp4">
    </video>

    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center" style="background: rgba(0, 0, 0, 0.3);">
        <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <video class="img-fluid" autoplay loop muted playsinline>
                    <source src="~/homeAssets/img/3209301-uhd_3840_2160_25fps.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-lg-6 wow fadeIn text-lg-start text-center" data-wow-delay="0.5s">
                <p class="textm fs-5"><i class="bg-black text-primary me-3 "></i>Welcome to JobShop – where creativity meets commerce. JobShop is a dynamic digital platform that seamlessly combines freelance services and online product sales in one powerful ecosystem. Whether you're a client looking to hire talented freelancers or a customer browsing unique products from independent sellers, JobShop connects you with the right people and opportunities. Our mission is to empower individuals to showcase their skills, grow their businesses, and build lasting connections. With a strong focus on quality, trust, and innovation, JobShop is redefining the way freelancing and online shopping come together.</p>
            </div>
        </div>
     </div>
     </div>